/* custom.css */
.custom-modal .modal-content {
    background-color: black;
    color: white;
  }
  
  .custom-modal .modal-header, .custom-modal .modal-footer {
    border-color: black;
  }
  
  .custom-modal .modal-header .modal-title,
  .custom-modal .modal-body,
  .custom-modal .modal-footer .btn {
    color: white;
  }
  
  .custom-modal .modal-footer .btn {
    border-color: white;
  }
  