/* modal.css */
.modal-content {
  background-color: white; /* Background color of the modal */
  color: black; /* Text color */
  max-width: 90vw; /* Ensure modal width fits the screen */
  width: 100%; /* Full width */
}

.modal-body {
  font-size: 16px; /* Adjust font size */
  line-height: 1.5; /* Adjust line height for readability */
}

.modal-body p {
  margin-bottom: 1.5em; /* Add space between paragraphs */
}

video {
  display: block;
  margin: 20px 0; /* Add space above and below video */
}
